.section2-container {
  height: 500px;
  border-radius: 9px;
  /* background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; */
  background-size: 90em;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}

h1,
.p-section2 {
  color: black;
}

.p-article {
  color: #636568;
}

.section2-button {
  background-color: #008986;
  color: #e0ffff;
}

.section2 {
  padding-top: 150px;
}

@media screen and (max-width: 992px) {
  .section2 {
    padding-top: 60px;
  }
}
