.article-container {
    padding-bottom: 200px;
    padding-top: 80px;
    border-radius: 9px;
}

h4 {
    color: #FAFDF8;
}

p {
    color: #636568;
}

@media screen and (max-width: 992px) {
    .article-container {
        padding-bottom: 80px;
        padding-top: 80px;
    }
}
